@media only screen and (min-width: 768px) {
    .integreat_plugin_column_1_3 {
        width: 33%;
    }

    .integreat_plugin_column_2_3 {
        width: 66%;
    }

    .integreat_plugin_column_1_2 {
        width: 50%;
    }
}
